<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/perfil">Perfil</a>
        <a class="nav-link" href="/api/">Productos</a>
        <a class="nav-link" href="/auth/logout">Logout</a>
        <a class="nav-link carro" href="#">Carrito</a>
        <a class="nav-link carro" href="/chat">chat</a>
        <a class="nav-link carro" href="/api/admin">product</a>
      </div>
    </div>
  </div>
</nav>



<div class="container">
    <div class="row p-5">
    {{#each carro.cart}}
    <div class="col-md-4">
      <div class="p-4">
        <div class="card">
          <img src="{{this.product.image}}" alt="" class="card-img-top" />
          <div class="card-body">
            <h3 class="card-title">{{this.product.name}}</h3>
            <p class="card-text">{{this.product.category}}</p>
            <p class="card-text">{{this.product.price}}</p>
            <p class="card-text">hay:{{this.count}} productos</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div class="container d-flex justify-content-center align-items-center">
  <div>
    <button class="btn btn-primary"><a class="btn-link link-light link_comprar" href="#">comprar</a></button>
  </div>
</div>
<script src="/index.js"></script>
<script>
  const linkCompra = document.querySelector(".link_comprar")
  document.addEventListener('DOMContentLoaded', async() => {
  const carrito = await obtenerCarrito();
    linkCompra.href = `/api/carts/${carrito}/purchase`
});
</script>
